body {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    color: white;
    background-color: #6667ab;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
}

h2 {
    color: black;
    font-size: 1.2rem;
    margin: 10px;
}

form {
    margin: auto;
    max-width: 650px;
    padding: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
}

input {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
    background-color: #6667ab;
    color: white;
    border: 0;
    padding: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

div {
    margin: 10px;
    border: 1px solid #6667ab;
    padding: 1rem;
}

span {
    color: white;
    padding: 4px 8px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 4px;
}

span.in-progress {
    background-color: orange;
}

span.todo {
    background-color: grey;
}

span.done {
    background-color: lightgreen;
}

p.details {
    font-size: 0, 8rem;
    color: darkgray;
}

a {
    color: #6667ab;
    text-transform: uppercase;
    font-size: 0.8rem;
}

a.remove {
    color: red;
}

div.grid {
    display: grid;
    grid-template-columns: 1fr;
    border: 0;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:476px) {

    /*Esto es fuera de mobiles*/
    div.grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and(min-width:728px) {
    /*Ipad en vertical*/
}

@media screen and(min-width:1024px) {
    /*Ipad en horizontal o ordenador pequeño*/
}

@media screen and(min-width:1400px) {
    /*ordenadores granes*/
}